@page "/products/"

@using FotoStorio.Shared.DTOs
@using FotoStorio.Client.Contracts

@inject IProductService productService

<div class="p-5 bg-white shadow-md sm:rounded-3xl sm:p-20">
    @if (errorMessage != "")
    {
        <div class="alert alert-danger" role="alert">
            <h4>@errorMessage</h4>
        </div>
    }
    else if (products == null)
    {
        <text>Loading products...</text>
    }
    else
    {
        @foreach (var product in products)
        {
            <div class="py-2">
                <p class="text-gray-500 text-sm "> 
                    <a href="/products/details/@product.Id" class="hover:text-black">
                        @product.Name (£@product.Price)
                    </a>
                </p>
            </div>
        }
    }
</div>

@code {
    [CascadingParameter]
    public Error Error { get; set; }

    List<ProductDTO> products;

    private string errorMessage = "";

    protected override async Task OnInitializedAsync()
    {
        await GetProducts();
    }

    private async Task GetProducts()
    {
        try
        {
            products = await productService.GetProductsAsync();
            errorMessage = "";
        }
        catch (Exception ex)
        {
            Error.ProcessError(ex, "Pages/Products/Index.GetProducts()");
            errorMessage = "Could not retrieve list of products";
        }
    }
}
